@font-face {
  font-family: 'Prototypster';
  src: url('../fonts/PrototypsterMedium.eot');
  src: url('../fonts/PrototypsterMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PrototypsterMedium.woff') format('woff'),
  url('../fonts/PrototypsterMedium.ttf')  format('truetype'),
  url('../fonts/PrototypsterMedium.svg#PrototypsterMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
