.form-signup {
  width: 1024px;
  margin: 0 auto;
  padding-left: 168px;
  font-family: "Prototypster", sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
}

.form-signup__email {
  margin: 0 0 20px 0;
  padding: 0;
  border: none;
}

.form-signup__email-name {
  margin-right: 20px;
  font-size: 14px;
}

.form-signup__email-input {
  min-width: 212px;
  height: 36px;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: #2a2a2a;
  border: none;
  border-radius: 6px;
  outline: 0;

}

.form-signup__checkbox {
  margin: 0 0 20px 118px;
  padding: 0;
  border: none;
}

.form-signup__checkbox-input {
  display: none;
}

.form-signup__checkbox-name {
  display: block;
  position: relative;
  font-size: 18px;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -40px;
    z-index: 1;
    width: 28px;
    height: 28px;
    background-image: url("../img/checkbox-square.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.3s ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: -33px;
    z-index: 2;
    width: 15px;
    height: 15px;
    background-image: url("../img/checkbox-tick.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0;
    transition: 0.3s ease-out;
  }
}

.form-signup__checkbox-input:checked + .form-signup__checkbox-name::after{
  opacity: 1;
}

@media ($tablet-width) {

  .form-signup {
    width: 768px;
    padding-left: 0;
  }
}

@media ($mobile-width) {

  .form-signup {
    width: 320px;
    padding-left: 0;
  }
}
