.orders__item-wrapper-for-3items {
  @include clearfix;

  margin: 0 auto 40px;
  width: 730px;

  &:last-child {
    margin-bottom: 60px;
  }
}

.orders__item {
  float: left;
  width: 230px;
  margin-right: 20px;
  padding: 8px;
  background-color: #fff;
  border: 4px solid transparent;
  border-radius: 10px;
  transition: all 0.4s ease-out;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: #ff5e42;

    .orders__item-button-status {
      color: #ff5e42;
    }
  }
}

.orders__item-picture {
  margin-bottom: 10px;
}

.orders__item-name {
  padding: 8px;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: #2a2a2a;

}

.orders__item-info {
  min-height: 135px;
  padding: 8px;
  font-size: 13px;
  color: #2a2a2a;
}

.orders__item-info-status {
  margin-bottom: 20px;
}

.orders__item-button-status {
  padding: 0 0 5px 8px;
  font-family: "Prototypster";
  font-size: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #b8b8b8;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

@media ($tablet-width) {

  .orders__item-wrapper-for-3items {
    margin: 0 auto 20px;
    width: 620px;
  }

  .orders__item {
    width: 200px;
    margin-right: 10px;
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 5px;
  }

  .orders__item-name {
    font-size: 20px;
  }

  .orders__item-button-status {
    font-size: 20px;
  }
}

@media ($mobile-width) {

  .orders__item-wrapper-for-3items {
    float: none;
    width: 300px;
    margin: 0 auto;
  }

  .orders__item {
    width: 300px;
    margin-right: 0;
    margin-bottom: 25px;
    padding: 47px;
    text-align: center;
    border-radius: 10px;
  }

  .orders__item-button-status {
    padding: 0;
  }
}
