.orders {
  width: 1024px;
  text-align: center;
  margin: 0 auto;
  padding: 35px;
}

.orders__item {
  display: inline-block;
  max-width: 240px;
  min-height: 470px;
  margin: 21px 8px;
  padding: 8px;
  text-align: left;
  vertical-align: top;
  line-height: 1.5;
  background-color: #fff;
  border: 4px solid transparent;
  border-radius: 10px;
  box-shadow: 0 -5px 5px -5px #999;
  transition: all 0.4s ease-out;

  &:hover {
    border-color: #ff5e42;

    .orders__item-button-status {
      color: #ff5e42;
    }
  }
}

.orders__item--special {
  position: relative;
}

.orders__item--special::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 10px;
  z-index: 1;
  width: 35px;
  height: 55px;
  background-image: url("../img/order-item-special.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.orders__item-picture {
  margin-bottom: 10px;
}

.orders__item-name {
  padding: 8px 8px 0 8px;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: #2a2a2a;

}

.orders__item-info {
  min-height: 155px;
  padding: 0 8px 8px 8px;
  font-size: 13px;
  color: #2a2a2a;
}

.orders__item-info-status {
  margin-bottom: 20px;
}

.orders__item-button-status {
  margin: 15px 8px;
  font-family: "Prototypster";
  font-size: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #b8b8b8;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.orders__item-button-status--add {
  letter-spacing: -0.02em;
}

@media ($tablet-width) {

  .orders {
    width: 768px;
  }

  .orders__item {
    width: 210px;
    padding: 6px;
    border-radius: 5px;
  }

  .orders__item-name {
    font-size: 20px;
  }

  .orders__item-button-status {
    font-size: 20px;
  }
}

@media ($mobile-width) {

  .orders {
    width: 320px;
    padding: 0;
  }

  .orders__item {
    display: block;
    width: 250px;
    margin: 25px auto;
    padding: 22px;
    text-align: center;
    border-radius: 10px;
  }

  .orders__item-button-status {
    padding: 0;
  }
}
