.page-main {
  width: 1024px;
  margin: 0 auto;
}

.page-main__button-scroll-up {
  margin-bottom: 45px;
  padding-top: 20px;
  text-align: center;
}

@media ($tablet-width) {

  .page-main {
    width: 768px;
  }
}

@media ($mobile-width) {

  .page-main {
    width: 320px;
  }
}
