.page-header {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.page-header__title-wrapper {
  height: 97px;
  margin-top: 50px;
  margin-bottom: 15px;
  background-image: url("../img/title-my-order.png");
  background-repeat: no-repeat;
  background-size: 290px 97px;
  background-position: 50% 50%;
}

.page-header__title {
  padding: 25px 0;
  font-size: 48px;
}

.page-header__sorting {
  margin-bottom: 40px;
  font-size: 14px;
  color: #2a2a2a;
}

.page-header__sorting-item {
  color: #ff5e42;
  border-bottom: 1px dashed #ff5e42;
}

@media ($tablet-width) {

  .page-header {
    width: 768px;
  }
}

@media ($mobile-width) {

  .page-header {
    width: 320px;
  }
}
